<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>
  <div id="app">
    <!-- 登录 -->
    <div id="dialog" style="display: block;">
      <!-- Form -->
      <el-dialog title="登录或注册" :visible.sync="dialogFormVisible" :close-on-click-modal=false
        :close-on-press-escape=false :show-close=false :center=true width="60%">
        <el-form :model="loginForm" :rules="loginRules" ref="loginForm" :inline-message=true
          @keyup.enter.native="login(loginForm)">
          <el-form-item label="用户名" prop="user">
            <el-input v-model="loginForm.user" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="密码" prop="pwd">
            <el-input type="password" v-model="loginForm.pwd" autocomplete="off">
            </el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="login(loginForm)">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!-- 主页面 -->
    <div id="main" style="display: none;">
      <div class="menu">
        <el-row>
          <el-col :span="4">
            <div class="grid-content bg-purple-dark">
              <h3 class="title">{{loginForm.user}}</h3>
            </div>
          </el-col>
          <el-col :span="20">
            <div class="grid-content bg-purple-dark listForm">
              <el-form :inline="true" :rules="listRules" ref="formInline" :model="formInline" :inline-message=true
                class="demo-form-inline">
                <el-form-item prop="tag">
                  <el-select v-model="formInline.tag" placeholder="Tag">
                    <el-option v-for='(tagItem,index) in tagList' :key='index' :label=tagItem.tag :value=tagItem.tag>
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item prop="content">
                  <el-input v-model="formInline.content" placeholder="List"></el-input>
                </el-form-item>
                <el-form-item prop="planTime">
                  <el-input v-model="formInline.planTime" placeholder="Time"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="onAdd(formInline)">add</el-button>
                </el-form-item>
              </el-form>
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="userList">
        <el-row :gutter="20" class="listItem" v-for="(ListItem,index) in userForm" :key='index'>
          <el-col :span="14" :offset="6">
            <el-card shadow="hover">
              <el-form :inline="true" :model="ListItem" class="demo-form-inline">
                <el-form-item required>
                  <el-select v-model="ListItem.tag" placeholder="Tag">
                    <el-option v-for='(tagItem,index) in tagList' :key='index' :label=tagItem.tag :value=tagItem.tag>
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item>
                  <el-input v-model="ListItem.content" placeholder="List"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-input v-model="ListItem.planTime" placeholder="Time"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="finish(ListItem)">完成</el-button>
                </el-form-item>
              </el-form>
            </el-card>
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
  <!-- import Vue before Element -->
  <script src="./lib/vue.js"></script>
  <!-- import JavaScript -->
  <script src="./lib/element-ui.js"></script>
  <script src="./lib/axios.min.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>